<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<form class="form-horizontal" [formGroup]="fg">
  <ngq-datepicker formControlName="dateFrom" [opts]="opts"></ngq-datepicker>
</form>

<br><button (click)="changeLang()">Change Lang</button>
<button (click)="toggleEnableDisable()">Enable / Disable</button>
<button (click)="update()">Update</button>
<button (click)="reset()">Reset</button>
<br> FormGroup: Value {{ fg.value | json }}
<br> FormGroup: Raw Value {{ fg.getRawValue() | json }}
<br> Birth Date in long format: {{ fg.get('dateFrom').value | date :'long'}}
<br> Birth Date in long format: {{ fg.get('dateTo').value | date :'long'}}